.controll-area {
  display: flex;
  align-items: center;
}

.todo-input {
  height: 38px;
}

.switch-btn {
  margin-left: 14px;
}

.table-wrapper {
  max-height: 476px;
  overflow-y: auto;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.col-id, .col-iscompleted, .col-delete {
  width: 10%;
}

.col-title {
  width: 70%;
}