.view-area {
  height: calc(100vh - 58px - 200px);
  overflow-y: auto;
}

.table-name-input {
  height: 38px;
  width: 360px;
}

.table-name-input::placeholder {
  color: #dddddd;
}

.error-text {
  margin: 0;
}

.table-name-link {
  cursor: pointer;
  padding-left: 10px;
}