body {
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

#main {
  /* 100vhからヘッダーの58pxを引いた高さ */
  height: calc(100vh - 58px);
  /* 100vwからサイドメニューの200pxを引いた横幅 */
  width: calc(100vw - 200px);
  padding: 10px 20px;
}